@*@model IEnumerable<NewTravelAgency.Models.Ticket>*@

@{
    ViewData["Title"] = "Index";
}


@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using NewTravelAgency.Models
@model IndexViewModel

<h1>Ticket</h1>

<p>
    <a asp-action="Create">Create New Ticket</a>
</p>


<style>
    .glyphicon {
        display: inline-block;
        padding: 0 5px;
    }

    .glyphicon-chevron-right:after {
        content: "\00BB";
    }

    .glyphicon-chevron-left:before {
        content: "\00AB";
    }
</style>


<form method="get">
    <label>Имя готелю: </label>
    <select name="hotel" asp-items="Model.FilterViewModel.Hotels"></select>

    <input type="submit" value="Фильтр" />
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index"
                   asp-route-sortOrder="@(Model.SortViewModel.HotelNameSort)"
                   asp-route-name="@(Model.FilterViewModel.SelectedHotel)"
                   asp-route-company="@(Model.FilterViewModel.SelectedHotel)">Ім'я готелю</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@(Model.SortViewModel.CostSort)"
                   asp-route-name="@(Model.FilterViewModel.SelectedHotel)"
                   asp-route-company="@(Model.FilterViewModel.SelectedHotel)">Ціна</a>
            </th>
            <th>
                TimeDeparture
            </th>
            <th>
                TimeArrival
            </th>
            <th>
                TouristNumber
            </th>
            <th>
                Name Resort
            </th>
            <th>
                Name Country
            </th>

        </tr>
        @foreach (Ticket t in Model.Tickets)
        {
            <tr>
                <td>@t.Hotel.Name</td>
                <td>@t.Cost</td>

                <td>
                    @Html.DisplayFor(modelItem => t.TimeDeparture)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => t.TimeArrival)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => t.TouristNumber)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => t.Hotel.Resort.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => t.Hotel.Resort.Country.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@t.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@t.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@t.Id">Delete</a>
                </td>
            </tr>
        }
        </tbody>
</table>

<p>
    @if (Model.PageViewModel.HasPreviousPage)
    {
        <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
       asp-route-name="@(Model.FilterViewModel.SelectedHotel)"
       asp-route-sortorder="@(Model.SortViewModel.Current)"
       class="glyphicon glyphicon-chevron-left">
            Назад
        </a>
    }
    @if (Model.PageViewModel.HasNextPage)
    {
        <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
       asp-route-name="@(Model.FilterViewModel.SelectedHotel)"
       asp-route-sortorder="@(Model.SortViewModel.Current)"
       class="glyphicon glyphicon-chevron-right">
            Вперед
        </a>
    }
</p>





@*

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TimeDeparture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeArrival)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TouristNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hotel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hotel.Resort)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hotel.Resort.Country)
            </th>
          <th>
                @Html.DisplayNameFor(model => model.Ordering)
            </th>


            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TimeDeparture)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeArrival)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TouristNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hotel.Name)
            </td>
           <td>
                    @Html.DisplayFor(modelItem => item.Hotel.Resort.Name)
            </td>
                 <td>
                    @Html.DisplayFor(modelItem => item.Hotel.Resort.Country.Name)
                </td>

            <td>
                @Html.DisplayFor(modelItem => item.Ordering.Id)
            </td>


            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
*@